npm config set init.author.name "MoonHoldings"
npm config set init.author.email "hello@moonholdings.xyz"
npm config set init.author.url "http://moonholdings.xyz"
npm config set init.license "MIT"
npm config set init.version "1.0.1"